@model DB_Project.DataBase.Models.Role

<div id="ModalDiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Group</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("Create", "Roles", null, new AjaxOptions
                {
                    AllowCache = false,
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.ReplaceWith,
                    OnBegin = "SendingDataStarted",
                    OnSuccess = "DataSaved",
                    OnFailure = "DataSaveFailed",
                    OnComplete = "DataSent",
                    UpdateTargetId = "mainTableDiv",
                }))
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                <span id="RolenNameError" hidden class="text-danger field-validation-error" data-valmsg-replace="true"><span generated="true" class="">This UserName is Already Exists.</span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" id="btnSubmit" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" value="Cancel">Cancel</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $("button[value='Cancel']").on("click", function () {
            $("#ModalDiv").modal("hide").html("");
        });
        $("#btnSubmit").on("click", function (e) {
            var RolenNameError = $("#RolenNameError").prop("hidden");
            if (!RolenNameError) {
                e.preventDefault();
            }
        });
        $("#Name").on("keyup blur change", function (e) {
            var RoleNames = @Html.Raw(ViewBag.RoleNames);
            var RoleName = $("#Name").val();
            if (RoleNames.indexOf(RoleName) != -1) {
                $("#RolenNameError").removeAttr("hidden");
            }
            else {
                $("#RolenNameError").attr("hidden", "hidden");
            }
        });
    </script>
</div>
